.btn{
	.transition(0.2s);
	.fp;
	.border-radius(50px);
	margin: 0;
	padding: 0 30px;
	border : 0;
	height: @input-height;
	line-height: @input-height;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-transform: uppercase;
	text-align: center;
	background: @c5;
	&:hover{
		background: darken(@c5,10%);
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: darken(@c5,10%);
		}
	}
}