// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Josefin Sans', sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #545454;
@c2: #e21b75;
@c3: #a40048;
@c4: #5196f4;
@c5: #34609c;

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.65; // line height primary

// form
@input-size: 16px;
@input-height: 48px;
@input-padding: 15px;
@input-border: #bfbfbf;
@input-bg: #fff;

// layout
@content-width: 1040px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(min-width: 480px) and (max-width: 767px)";
@xxs: ~"(max-width: 479px)";