// form
label {
	display: block;
	font-weight: normal;
	.required {
		color: @c2;
	}
}
fieldset {
	padding: 20px;
	margin: 40px 0;
	border: 1px solid @input-border;
}
legend {
	font-size: 14px;
	line-height: 1.2;
	font-weight: bold;
	color: @c5;
	margin: 0 0 20px;
	text-transform: uppercase;
	fieldset & {
		padding: 0 10px;
		margin: 0;
	}
}
input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea,
select {
	.rin;
	.transition(0.2s);
	position: relative;
	border: 1px solid @input-border;
	font-size: @input-size;
	width: 100%;
	height: @input-height;
	padding: 0 @input-padding;
	color: @c1;
	background: @input-bg;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		border-color: darken(@input-border,30%);
	}
	&:focus{
		&::-webkit-input-placeholder {
			color: transparent;
		}
		&:-moz-placeholder {
			color: transparent;
		}
		&::-moz-placeholder {
			color: transparent;
		}
	}
	&::-webkit-input-placeholder {
		color: lighten(@c1,50);
	}
	&:-moz-placeholder {
		color: lighten(@c1,50);
	}
	&::-moz-placeholder {
		color: lighten(@c1,50);
	}
}
textarea{
	padding: @input-padding;
	height: auto;
}
select[multiple] {
	width: auto;
	height: auto;
	padding: @input-padding;
}
input[type=number] {
	padding-right: 0;
}
input[type=submit],
input[type=button],
button {
	.btn;
}
input.input-mini{
	width: @input-height;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
input[type=number].input-mini {
	width: @input-height+20;
}
input.input-small{
	width: 50%;
}
input.input-large{
	width: 100%;
}

// select box
.select_wrap {
	position: relative;
	display: block;
	background: @input-bg;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		right: 10px;
		margin: -3px 0 0;
		border: 6px solid transparent;
		border-top-color: @input-border;
	}
	select {
		-moz-appearance: none;
		-webkit-appearance:none;
		background: none;
	}
	select::-ms-expand {
		display: none;
	}

}

// checkbox, radio
.checkbox_wrap {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	input + .checkbox_btn {
		position: relative;
		font-size: @fsp*1.2;
		margin: 0 4px 0 0;
		color: @c5;
		font-weight: normal;
		&:before {
			.fi;
		}
	}
	input[type="checkbox"] + .checkbox_btn {
		&:before {
			content: '\e800';
		}
	}
	input[type="checkbox"]:checked + .checkbox_btn {
		&:before {
			content: '\e801';
		}
	}
	input[type="radio"] + .checkbox_btn {
		&:before {
			content: '\e802';
		}
	}
	input[type="radio"]:checked + .checkbox_btn {
		&:before {
			content: '\e803';
		}
	}

	input:disabled + .checkbox_btn {
		color: lighten(@input-border,0);
	}
	input {
		position: absolute;
		z-index: 1;
		top: -20px;
		left: -20px;
		margin: 0;
		padding: 0;
		width: 60px;
		height: 60px;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
}