body {
	//width: 1920px;
}
.body {
	position: relative;
	overflow: hidden;
}
.img-right {
	float: right;
	margin: 4px 0 10px 30px;
}
.img-left {
	float: left;
	margin: 4px 30px 10px 0;
}
.img-full {
	.border-radius(6px);
}
.img-rounded {
	.border-radius(30px);
}
#page-header {
	background: #dfcee6 url(../images/bg/01.jpg) top;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	@media @xs, @xxs {
		background-image: none;
	}
}
#col-main {
	float: left;
	width: 700px;
	padding: 30px 0 50px 0;
	@media @lg {
		padding-left: 40px;
	}
	@media @md {
		width: 660px;
	}
	@media @sm, @xs, @xxs {
		float: none;
		width: auto;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#col-right {
	float: right;
	width: 240px;
	padding: 30px 0 50px 0;
	@media @lg {
		padding-right: 40px;
	}
	@media @md {
		width: 220px;
	}
	@media @sm, @xs, @xxs {
		width: auto;
		float: none;
		padding: 0 0 70px;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
#col-full {
	padding: 30px 0 50px;
	@media @lg {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.header_top {
	position: relative;
	&:before {
		.opacity(0.3);
		content: '';
		position: absolute;
		top: 0;
		left: 20px;
		right: 0;
		top: 0;
		bottom: 0;
		background: url(../images/bg/02.png) no-repeat center;
		-webkit-background-size: auto 100%;
		background-size: auto 100%;
		@media @xs, @xxs {
			display: none;
		}
	}
}
.header_bottom {
	position: relative;
	overflow: hidden;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.inner {
		position: relative;
		min-height: 80px;
		background: url(../images/bg/06.png) no-repeat right bottom;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		@media @xxs {
			background: #fff;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 100%;
			width: 999em;
			background: #fff;
		}
		&:after {
			right: 0;
			left: 100%;
		}
	}
}
.header_logo { 
	position: relative;
	float: left;
	width: 290px;
	margin: 30px 0 30px 0;
	@media @xs, @xxs {
		width: 280px;
		float: none;
		margin: 0 auto;
	}
	@media @lg {
		margin-left: 40px;
	}
	a { 
		display: block;
		text-decoration: none;
		font-size: 0;
		padding: 0 0 38%;
		background: url(../images/logo/01.png) no-repeat left bottom;
		-webkit-background-size: 100% auto;
		background-size: 100% auto;
	}
}
.header_search { 
	position: relative;
	margin: 55px 0 20px;
	float: right;
	width: 200px;
	@media @lg {
		margin-right: 40px;
	}
	@media @xs, @xxs {
		float: none;
		margin: 20px auto;
		width: auto;
		max-width: 50%;
	}
	form { 
		div { 
			input { 
				.border-radius(4px);
				position: relative;
				border-color: transparent;
				height: 35px;
				font-size: 14px;
				background: #fff;
			}
			button { 
				position: absolute;
				top: 0;
				right: 0;
				font-size: 0;
				color: @c5;
				padding: 0;
				height: 35px;
				line-height: 35px;
				width: 40px;
				background: transparent;
				&:hover{
					color: @c2;
				}
				&:before {
					.fi;
					content: '\e949';
					font-size: 24px;
					font-weight: normal;
				}
			}
		}
	}
}
.header_newsletter { 
	position: relative;
	clear: right;
	float: right;
	margin: 4px 0 20px;
	width: 200px;
	@media @lg {
		margin-right: 40px;
	}
	@media @xs, @xxs {
		width: auto;
		float: none;
		text-align: center;
	}
	a { 
		.transition(0.2s);
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		line-height: 1.2;
		color: @c5;
		&:hover{
			color: @c2;
		}
		&:before {
			.fi;
			content: '\e8a4';
			float: right;
			font-weight: normal;
			font-size: 24px;
			line-height: 1;
			margin: -3px 8px;
			@media @xs, @xxs {
				float: none;
			}
		}
	}
}
.toggle_menu {
	display: none;
	width: 280px;
	margin: 0 auto 20px;
	font-size: 24px;
	@media @xs, @xxs {
		display: block;
	}
	&:before {
		.fi;
		content: '\e915';
		font-weight: normal;
		margin: 0 5px 0 0;
		.menu-on & {
			content: '\e807';
		}
	}
}
.menu_main { 
	@media @lg, @md, @sm {
		.border-radius(0 0 6px 6px);
		position: relative;
		z-index: 101;
		clear: both;
		padding: 0 30px;
		margin: 0 0 42px;
		background: #fff;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
		@media @sm {
			padding: 0 10px;
		}
		&>ul { 
			.rlist;
			display: table;
			width: 100%;
			&>li { 
				display: table-cell;
				vertical-align: middle;
				&>a { 
					.fh;
					display: block;
					text-align: center;
					padding: 27px 10px;
					text-transform: uppercase;
					text-decoration: none;
					font-size: 18px;
					line-height: 1.2;
					color: @c3;
					font-weight: bold;
					@media @sm {
						font-size: 16px;
					}
					&:hover{
						color: @c2;
						text-decoration: underline;
					}
					&:after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						bottom: 0;
					}
				}
				&.home {
					&>a {
						font-size: 0;
						text-decoration: none;
						&:before {
							.fi;
							font-size: 23px;
							content: '\e87d';
							font-weight: normal;
						}
					}
				}
				&.on {
					&:before {
						z-index: 1;
						top: 100%;
						left: 50%;
						width: 40px;
						height: 12px;
						margin: 0 0 0 -20px;
						background: url(../images/bg/03.png) no-repeat;
						-webkit-background-size: 100% 100%;
						background-size: 100% 100%;
					}
					&>a {
						color: @c4;
					}
				}
				&>ul { 
					.rul;
					display: none;
					position: absolute;
					top: 100%;
					left: 0;
					padding: 20px;
					width: 260px;
					background: #e7f0f7;
					background-image: -moz-linear-gradient(top,  rgba(184,208,227,1) 0%, rgba(184,208,227,1) 1%, rgba(184,208,227,0) 100%);
					background-image: -webkit-linear-gradient(top,  rgba(184,208,227,1) 0%,rgba(184,208,227,1) 1%,rgba(184,208,227,0) 100%);
					background-image: linear-gradient(to bottom,  rgba(184,208,227,1) 0%,rgba(184,208,227,1) 1%,rgba(184,208,227,0) 100%);
					background-repeat: repeat-x;
					-webkit-background-size: 10px auto;
					background-size: 10px auto;
					&>li { 
						text-transform: uppercase;
						font-size: 13px;
						line-height: 1.2;
						font-weight: bold;
						padding: 0 0 0 20px;
						margin: 10px 0;
						color: @c5;
						&:before {
							content: '\e889';
							font-weight: normal;
							font-size: 15px;
							top: -1px;
						}
						&>a { 
							color: @c5;
							text-decoration: none;
							&:hover{
								color: @c4;
							}
						}
						&.on {
							&>a {
								color: @c3;
							}
						}
					}
				}
				&:last-child {
					ul {
						left: auto;
						right: 0;
					}
				}
				&:hover {
					ul {
						display: block;
					}
				}
			}
		}
	}
	@media @xs, @xxs {
		.border-radius(6px);
		padding: 20px;
		margin: 0 0 20px;
		background: @c2;
		&.menu_js {
			display: none;
			.menu-on & {
				display: block;
			}
		}
		ul {
			.rlist;
			li {
				text-transform: uppercase;
				font-size: 20px;
				line-height: 1.2;
				font-weight: bold;
				margin: 10px 0;
				color: #fff;
				a {
					color: #fff;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				ul {
					margin: 10px 0 20px 20px;
					li {
						text-transform: none;
						display: inline;
						font-size: 17px;
						font-weight: normal;
						&:after {
							content: ',';
						}
						&:last-child {
							&:after {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
.box_slideshow { 
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.container { 
		.items { 
			position: relative;
			.item { 
				.clearfix;
				padding: 75px 90px 50px;
				display: none;
				width: 100%;
				text-transform: uppercase;
				color: @c5;
				font-size: 18px;
				line-height: 1.7;
				@media @lg {
					padding-left: 150px;
					padding-right: 150px;
				}
				@media @sm {
					text-align: center;
				}
				@media @xs, @xxs {
					text-align: center;
					padding-left: 0;
					padding-right: 0;
				}
				&:nth-child(1) {
					display: block;
				}
				.counter { 
					display: none;
					@media @lg, @md {
						.border-radius(50%);
						display: block;
						float: left;
						width: 206px;
						height: 206px;
						line-height: 170px;
						text-align: center;
						font-size: 42px;
						color: @c5;
						font-weight: bold;
						border: 10px solid fade(#fff,80);
						mark { 
							font-size: 84px;
						}
					}
				}
				.content { 
					@media @lg, @md {
						padding: 0 0 0 40px;
						float: left;
						width: 494px;
					}
				}
				.title { 
					color: @c5;
					font-size: 36px;
					margin: 0 0 10px;
				}
				p { 
					margin: 0 0 18px;
					strong { 
					}
				}
				nav { 
					a { 
						.btn;
						.transition(background 0.2s);
						font-size: 14px;
						height: 65px;
						line-height: 65px;
						background: @c2;
						&:hover{
							background: darken(@c2,10);
						}
					}
				}
			}
		}
		.prev, .next {
			.border-radius(50%);
			.transition(0.2s);
			position: absolute;
			z-index: 101;
			top: 50%;
			left: 20px;
			width: 65px;
			height: 65px;
			line-height: 63px;
			margin: -30px 0 0;
			color: @c5;
			font-size: 0;
			text-align: center;
			border: 1px solid @c5;
			@media @lg {
				left: 55px;
			}
			@media @xs, @xxs {
				display: none;
			}
			&:before {
				.fi;
				content: '\e95b';
				font-size: 42px;
			}
			&:hover{
				color: @c3;
			}
		}
		.next {
			left: auto;
			right: 20px;
			@media @lg {
				left: auto;
				right: 55px;
			}
			&:before {
				content: '\e818';
				padding-right: 3px;
			}
		}
		.pager {
			position: absolute;
			z-index: 101;
			bottom: 83px;
			right: 80px;
			@media @sm, @xs, @xxs {
				display: none;
			}
			span {
				.border-radius(50%);
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 18px;
				height: 18px;
				margin: 0 3px;
				text-indent: -9999px;
				border: 1px solid @c5;
				cursor: pointer;
				&:before {
					.border-radius(50%);
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 8px;
					height: 8px;
					margin: -4px 0 0 -4px;
				}
				&:hover{
					&:before {
						background: @c5;
					}
				}
				&.cycle-pager-active {
					&:before {
						background: @c3;
					}
				}
			}
		}
	}
}
.box-header-01 { 
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 0 -5px 40px 0;
	padding: 0 20px 0 0;
	@media @lg {
		padding-left: 40px;
	}
	@media @sm, @xs, @xxs {
		display: block;
		margin-right: 0;
		width: 100%;
		padding-right: 0;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.inner { 
		.border-radius(30px);
		color: @c5;
		font-size: 17px;
		line-height: 1.45;
		padding: 32px 30px 0 30px;
		background: fade(#fff,40);
		figure { 
			position: relative;
			z-index: 1;
			display: inline-block;
			vertical-align: top;
			width: 42%;
			margin: 0 -5px -30px 0;
			padding: 0 30px 0 0;
			@media @sm {
				width: 20%;
			}
			@media @xs, @xxs {
				width: 33.3333%;
			}
			img { 
				.border-radius(50%);
			}
		}
		.content { 
			display: inline-block;
			vertical-align: top;
			width: 58%;
			@media @sm {
				width: 80%;
			}
			@media @xs, @xxs {
				width: 66.6666%;
			}
		}
		.title { 
			font-size: 18px;
			color: @c5;
			margin: 3px 0 10px;
		}
		p { 
		}
		nav { 
			.border-radius(0 0 30px 30px);
			position: relative;
			text-align: right;
			margin: 0 -30px;
			padding: 13px 30px 8px;
			font-size: 14px;
			line-height: 1.2;
			text-transform: uppercase;
			font-weight: bold;
			background: fade(#fff,50);
			&:before, &:after {
				content: '';
				position: absolute;
				bottom: 100%;
				right: 0;
				width: 30px;
				height: 30px;
				background: url(../images/bg/04.png) no-repeat right bottom;
				-webkit-background-size: 200% 200%;
				background-size: 200% 200%;
			}
			&:after {
				right: auto;
				left: 0;
				background-position: left bottom;
			}
			a { 
				text-decoration: none;
				display: inline-block;
				vertical-align: middle;
				&:hover{
					text-decoration: underline;
				}
				&:after {
					.fi;
					content: '\e818';
					font-size: 26px;
					font-weight: normal;
					display: inline-block;
					vertical-align: middle;
					text-decoration: none;
					margin: 0 0 0 4px;
				}
			}
		}
	}
}
.box-header-02 { 
	display: inline-block;
	vertical-align: top;
	width: 50%;
	margin: 0 0 80px 0;
	padding: 10px 43px 10px 28px;
	@media @sm, @xs, @xxs {
		display: block;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.inner { 
		.border-radius(20px);
		position: relative;
		color: @c3;
		font-size: 17px;
		line-height: 1.6;
		padding: 19px 20px 24px 38px;
		background: fade(#fff,40);
		&:before, &:after {
			.border-radius(30px 0 0 30px);
			content: '';
			position: absolute;
			top: -10px;
			left: -10px;
			bottom: -10px;
			right: 150px;
			border: 10px solid fade(#fff,70);
			border-right: none;
		}
		&:after {
			.border-radius(0 30px 30px 0);
			left: auto;
			right: -10px;
			width: 60px;
			border: 10px solid fade(#fff,70);
			border-left: none;
		}
		p { 
			margin: 0 0 8px;
		}
		.title { 
			.fp;
			display: inline-block;
			vertical-align: middle;
			margin: 0 -5px 0 0;
			font-size: 16px;
			line-height: 1.7;
			width: 50%;
			color: @c3;
			&:before, &:after {
				content: '';
				position: absolute;
				top: -10px;
				right: 50px;
				width: 100px;
				height: 10px;
				background: fade(#fff,70);
			}
			&:after {
				top: 100%;
				height: 65px;
				background: url(../images/bg/05.png) no-repeat;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
			}
		}
		nav { 
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			padding: 0 0 0 15px;
			a { 
				.btn;
				height: 65px;
				line-height: 65px;
				font-size: 14px;
				display: block;
			}
		}
	}
}
.news_items { 
	&>.title {
		.fh;
		text-transform: uppercase;
		color: @c5;
		font-weight: bold;
		font-size: 24px;
		line-height: 1.2;
		padding: 0 0 23px;
		margin: 0 0 45px;
		border-bottom: 1px dashed #8a8783;
	}
	.item { 
		.clearfix;
		line-height: 1.7;
		margin: 0 0 28px;
		figure { 
			float: left;
			width: 36%;
			padding: 0 40px 0 0;
			@media @xs, @xxs {
				padding-right: 20px;
				width: 40%;
			}
			@media (max-width:380px) {
				width: 100%;
				padding-right: 0;
			}
			a { 
				img { 
					.border-radius(28px);
				}
			}
		}
		.content { 
			float: left;
			width: 64%;
			@media @xs, @xxs {
				width: 60%;
			}
			@media (max-width:380px) {
				width: 100%;
			}
		}
		h2 { 
			font-size: 18px;
			line-height: 1.4;
			margin: 0 0 12px;
			a { 
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		p { 
		}
	}
	nav { 
		text-align: right;
		margin: -9px 0 20px;
		a { 
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			color: @c4;
			font-size: 14px;
			line-height: 1.2;
			text-transform: uppercase;
			font-weight: bold;
			&:hover{
				color: @c2;
			}
			&:after {
				.fi;
				content: '\e831';
				position: relative;
				top: -2px;
				display: inline-block;
				vertical-align: middle;
				font-weight: normal;
				font-size: 28px;
				margin: 0 0 0 5px;
			}
		}
	}
}
.box_partners { 
	text-align: center;
	.title { 
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1;
		font-weight: bold;
		color: @c5;
		margin: 0 0 45px;
	}
	ul { 
		.rlist;
		li { 
			margin: 0 0 45px;
			@media @sm, @xs, @xxs {
				display: inline-block;
				vertical-align: middle;
				width: 200px;
				padding: 0 20px;
			}
			a { 
				img { 
				}
			}
		}
	}
}
.box_testimonials { 
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	background: #dfcee6 url(../images/bg/07.jpg) repeat-y right;
	background-size: auto 100%;
	@media @xs, @xxs {
		background-image: none;
	}
	.container { 
		.inner {
			padding: 60px 40px 23px;
			background: url(../images/bg/03.png) no-repeat right top;
			-webkit-background-size: 280px 80px;
			background-size: 280px 80px;
			@media @xs, @xxs {
				background: none;
			}
			&>.title { 
				font-size: 36px;
				line-height: 1;
				color: @c4;
				margin: 0 0 40px;
				small { 
					.fp;
					font-weight: normal;
					font-size: 18px;
				}
			}
			.items { 
				text-align: center;
				margin: 0 -20px;
				.item { 
					display: inline-block;
					vertical-align: top;
					width: 33.3333%;
					margin: 0 -2px 40px;
					padding: 0 20px;
					font-size: 14px;
					line-height: 1.7;
					@media @xs, @xxs {
						width: 100%;
						padding: 0;
					}
					figure { 
						margin: 0 14% 17px;
						@media @sm {
							margin-left: 0;
							margin-right: 0;
						}
						@media @xs, @xxs {
							margin-left: 30%;
							margin-right: 30%;
						}
						img { 
							.border-radius(50%);
							.box-shadow(0 2px 0 #fff);
						}
					}
					.title { 
						.fp;
						font-size: 17px;
						text-transform: none;
						color: @c3;
						margin: 0 0 5px;
					}
					.subtitle { 
						.fp;
						font-weight: normal;
						font-size: 14px;
						text-transform: none;
						color: @c4;
						margin: 0 0 12px;
					}
					p { 
					}
				}
			}
		}
	}
}
.nav-consulting {
	position: absolute;
	z-index: 2;
	bottom: 44px;
	right: 60px;
	width: 260px;
	@media @xs, @xxs {
		position: relative;
		bottom: 0;
		right: 0;
		width: auto;
		margin: 0 0 40px;
	}
	ul { 
		.rlist;
		display: table;
		width: 100%;
		li { 
			.border-radius(100px 0 0 100px);
			.transition(0.2s);
			display: table-cell;
			text-align: right;
			vertical-align: middle;
			background: @c5;
			overflow: hidden;
			padding: 16px 20px;
			font-size: 14px;
			line-height: 1.2;
			text-transform: uppercase;
			&:hover{
				background: @c4;
			}
			a { 
				font-weight: bold;
				text-decoration: none;
				color: #fff;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
			&:nth-child(even) {
				.border-radius(0 100px 100px 0);
				text-align: left;
				background: @c3;
				&:hover{
					background: @c2;
				}
			}
		}
	}
}
.box_consulting {
	position: relative; 
	background: #bf9acd;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.container { 
		padding: 38px 60px 2px;
		@media @sm, @xs, @xxs {
			padding-left: 20px;
			padding-right: 20px;
		}
		&>.title { 
			.fh;
			.border-radius(30px 30px 0 0);
			position: relative;
			z-index: 2;
			float: left;
			background: fade(#fff,40);
			text-transform: uppercase;
			font-weight: bold;
			line-height: 1;
			font-size: 18px;
			color: @c5;
			padding: 19px 33px 0;
		}
		.question { 
			.border-radius(0 30px 30px 30px);
			position: relative;
			z-index: 2;
			clear: left;
			float: left;
			width: 290px;
			margin: 0 37px 40px 0;
			font-size: 14px;
			line-height: 1.7;
			background: fade(#fff,40);
			@media @md {
				width: 260px;
				margin-right: 30px;
			}
			@media @sm, @xs, @xxs {
				width: auto;
				float: none;
				margin: 0 0 20px;
			}
			a { 
				text-decoration: none;
				color: @c1;
				display: block;
				padding: 30px 32px 20px;
				@media @sm, @xs, @xxs {
					padding-bottom: 10px;
				}
				&:hover{
					color: @c3;
				}
				.title { 
					font-size: 17px;
					line-height: 1.2;
					color: @c3;
					margin: 0 0 5px;
				}
				.date { 
					font-size: 14px;
					line-height: 1.2;
					color: @c5;
					margin: 0 0 10px;
				}
				p { 
				}
			}
		}
		.answer { 
			position: relative;
			z-index: 2;
			float: left;
			width: 280px;
			margin: 10px 0 50px;
			@media @md {
				width: 250px;
			}
			@media @sm {
				width: 330px
			}
			@media @xs, @xxs {
				width: 75%;
			}
			a { 
				.border-radius(20px);
				display: block;
				position: relative;
				color: @c3;
				padding: 20px 30px 8px;
				text-decoration: none;
				color: @c1;
				font-size: 14px;
				line-height: 1.7;
				background: fade(#fff,40);
				&:hover{
					color: @c3;
				}
				&:before, &:after {
					.border-radius(30px 30px 0 0);
					content: '';
					position: absolute;
					top: -10px;
					left: -10px;
					right: -10px;
					height: 30px;
					border: 10px solid fade(#fff,70);
					border-bottom: none;
				}
				&:after {
					.border-radius(0 0 30px 30px);
					top: 100px;
					bottom: -10px;
					height: auto;
					border: 10px solid fade(#fff,70);
					border-top: none;
				}
				.title { 
					font-weight: bold;
					color: @c3;
					font-size: 17px;
					line-height: 1.2;
					margin: 0 0 5px;
					&:before, &:after {
						content: '';
						position: absolute;
						top: 20px;
						left: -10px;
						height: 80px;
						width: 10px;
						background: fade(#fff,70);
					}
					&:after {
						top: 20px;
						left: 100%;
						width: 65px;
						background: url(../images/bg/08.png) no-repeat;
						-webkit-background-size: 100% 100%;
						background-size: 100% 100%;
					}
				}
				.date { 
					color: @c4;
					line-height: 1.2;
					margin: 0 0 11px;
				}
				p { 
				}
			}
		}
		figure { 
			position: absolute;
			z-index: 2;
			top: -40px;
			right: 0;
			bottom: 0;
			text-align: center;
			width: 340px;
			@media @sm, @xs, @xxs {
				display: none;
			}
			img { 
				display: block;
				margin: auto;
				max-height: 100%;
				min-height: 100%;
				max-width: inherit;
			}
		}
		nav {
			.nav-consulting();
		}
		.bg { 
			position: absolute;
			top: 0;
			right: -80px;
			bottom: 0;
			overflow: hidden;
			@media @sm, @xs, @xxs {
				display: none;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				bottom: 0;
				width: 50%;
				background: -moz-linear-gradient(left,  rgba(191,154,205,1) 0%, rgba(191,154,205,0) 100%);
				background: -webkit-linear-gradient(left,  rgba(191,154,205,1) 0%,rgba(191,154,205,0) 100%);
				background: linear-gradient(to right,  rgba(191,154,205,1) 0%,rgba(191,154,205,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf9acd', endColorstr='#00bf9acd',GradientType=1 );
			}
			&:after {
				left: 50%;
				background: -moz-linear-gradient(left,  rgba(191,154,205,0) 0%, rgba(191,154,205,1) 100%);
				background: -webkit-linear-gradient(left,  rgba(191,154,205,0) 0%,rgba(191,154,205,1) 100%);
				background: linear-gradient(to right,  rgba(191,154,205,0) 0%,rgba(191,154,205,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bf9acd', endColorstr='#bf9acd',GradientType=1 );
			}
			img { 
				display: block;
				margin: auto;
				max-height: 100%;
				min-height: 100%;
				width: auto!important;
				filter: blur(2px);
				-webkit-filter: blur(2px);
				-moz-filter: blur(2px);
				-o-filter: blur(2px);
				-ms-filter: blur(2px);
			}
		}
	}
}
.box_articles { 
	background: #c9deed;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
	.container { 
		padding: 55px 20px 10px;
		background: url(../images/bg/09.png) no-repeat 93.5% bottom;
		background-size: auto 46px;
		.items { 
			padding: 0 25px;
			text-align: center;
			@media @sm, @xs, @xxs {
				padding: 0;
			}
			.item { 
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				padding: 0 13px;
				margin: 0 -2px 40px;
				text-align: left;
				font-size: 14px;
				line-height: 1.7;
				@media @sm, @xs, @xxs {
					width: 100%;
					padding: 0;
				}
				@media @sm, @xs {
					padding: 0 0 0 50%;
				}
				&>.title { 
					.fh;
					text-transform: uppercase;
					color: @c5;
					font-weight: bold;
					font-size: 24px;
					line-height: 1.2;
					margin: 0 0 20px;
					color: @c5;
					float: left;
					@media @md {
						font-size: 20px;
					}
					@media @sm, @xs, @xxs {
						float: none;
						margin: 0 0 10px;
					}
				}
				.date {
					.fh;
					float: right;
					font-weight: bold;
					color: @c4;
					font-size: 17px;
					line-height: 1.2;
					margin: 5px 0;
					@media @md {
						font-size: 16px;
					}
					@media @sm, @xs, @xxs {
						float: none;
					}
				}
				a { 
					text-decoration: none;
					color: @c1;
					display: block;
					padding: 0 60px 0 0;
					@media @sm, @xs, @xxs {
						padding: 0 ;
					}
					&:hover{
						.title {
							&:before, &:after {
								background: @c2;
							}
						}
					}
					.title {
						.fp;
						position: relative;
						font-size: 14px;
						color: @c3;
						margin: 0 0 15px;
						@media @sm, @xs, @xxs {
							margin: 0 0 5px;
						}
						&:before, &:after {
							.rotate(-26deg);
							content: '';
							position: absolute;
							top: 0;
							right: -34px;
							width: 3px;
							height: 52px;
							background: @c4;
							@media @sm, @xs, @xxs {
								display: none;
							}
						}
						&:after {
							.rotate(26deg);
							top: 46px;
						}
					}
					figure { 
						margin: 0 -60px 37px 0;
						@media @sm, @xs {
							width: 50%;
							position: absolute;
							left: 0;
							top: 0;
							margin: 0;
							padding: 0 20px 0 0;
						}
						@media @xxs {
							margin-right: 0;
						}
						img {
							.border-radius(30px);
							display: block;
						}
					}
					p {
						@media @sm, @xs, @xxs {
							margin: 0 0 5px;
						}
					}
					.nav { 
						color: @c5;
						text-transform: uppercase;
						font-weight: bold;
						&:hover{
							color: @c2;
						}
						span {
							&:before {
								margin: 0 6px 0 0;
								display: inline-block;
								vertical-align: middle;
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
}
#page-footer {
	text-align: center;
	padding: 50px 0;
	@media @xs, @xxs {
		.menu-on & {
			display: none;
		}
	}
}
.copy_footer {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.2;
	p {
		margin: 0;
	}
	a {
		color: @c5;
	}
}
.menu_footer { 
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 1.2;
	ul { 
		.rlist;
		display: inline-block;
		vertical-align: middle;
		li { 
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;
			text-transform: uppercase;
			&:before {
				position: static;
				content: '|';
				display: inline-block;
				vertical-align: middle;
				font-size: 14px;
				margin: 0 10px 0 0;
			}
			a { 
				color: @c4;
			}
		}
	}
}
.breadcrumbs {
	position: relative;
	padding: 45px 100px 10px 0;
	@media @lg {
		padding-left: 40px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: -9999em;
		right: -9999em;
		height: 9999em;
		background: #fff;
	}
	ul {
		.rul;
		li {
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: bold;
			margin: 0 10px 0 0;
			&:before {
				top: 2px;
				font-weight: normal;
				font-size: 12px;
				color: @c4;
			}
			a {
				font-weight: normal;
				text-decoration: none;
				color: @c1;
				&:hover{
					text-decoration: underline;
				}
			}
			&.home {
				padding: 0;
				&:before {
					display: none;
				}
				a {
					font-size: 0;
					text-decoration: none;
					color: @c5;
					&:before {
						.fi;
						content: '\e87d';
						font-size: 18px;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}
}
.pagination {
	border-top: 1px solid #c2cfe1;
	margin: 40px 0;
	padding: 40px 0 0;
	text-align: center;
	ul {
		.rlist;
		li {
			.fh;
			display: inline-block;
			vertical-align: middle;
			font-size: 34px;
			font-style: italic;
			color: @c2;
			margin: 0 7px;
			a {
				display: inline-block;
				font-size: 28px;
				padding: 0 6px;
				text-decoration: none;
				color: @c1;
				&:hover{
					color: @c2;
				}
			}
			&.prev, &.next {
				margin: 0 10px;
				font-style: normal;
				a {
					.border-radius(50%);
					width: 44px;
					height: 44px;
					padding: 1px 0 0;
					line-height: 41px;
					border: 1px solid @c5;
					font-size: 0;
					color: @c5;
					&:hover{
						color: @c3;
						border-color: @c3;
					}
					&:before {
						.fi;
						content: '\e95b';
						font-size: 28px;
					}
				}
			}
			&.next {
				a {
					&:before {
						content: '\e818';
					}
				}
			}
		}
	}
}
#col-bottom {
	position: relative;
	background: #bf9acd;
	.col-bottom-inner {
		display: table;
		width: 100%;
		div:nth-child(2) {
			&.box_consulting-banner {
				padding-left: 25px;
				padding-right: 285px;
				@media @sm, @xs, @xxs {
					padding: 20px 10%;
				}
				figure {
					left: auto;
					right: 40px;
				}
				.bg {
					left: auto;
					right: -20px;
				}
			}
		}
	}
}
.box_consulting-banner {
	position: relative;
	padding: 32px 45px 31px 255px;
	@media @sm {
		padding: 20px;
	}
	#col-bottom .col-bottom-inner & {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		@media @xs, @xxs {
			display: block;
			width: auto;
			padding: 20px 20%;
		}
	}
	figure {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 0;
		width: 260px;
		top: -20px;
		@media @sm, @xs, @xxs {
			display: none;
		}
		img {
			display: block;
			margin: auto;
			max-height: 100%;
			max-width: auto;
		}
	}
	.title {
		position: relative;
		z-index: 3;
		color: @c5;
		font-size: 28px;
		line-height: 1.1;
		text-align: center;
		margin: 0 0 20px;
	}
	nav {
		.nav-consulting();
		position: relative;
		z-index: 3;
		bottom: auto;
		right: auto;
		width: auto;
		margin: auto;
		max-width: 200px;
		ul {
			li {
				padding: 12px 15px;
				font-size: 11px;
				a {
				}
			}
		}
	}
	.bg { 
		position: absolute;
		top: 0;
		left: -20px;
		bottom: 0;
		overflow: hidden;
		@media @sm, @xs, @xxs {
			display: none;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50%;
			background: -moz-linear-gradient(left,  rgba(191,154,205,1) 0%, rgba(191,154,205,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(191,154,205,1) 0%,rgba(191,154,205,0) 100%);
			background: linear-gradient(to right,  rgba(191,154,205,1) 0%,rgba(191,154,205,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf9acd', endColorstr='#00bf9acd',GradientType=1 );
		}
		&:after {
			left: auto;
			right: 0;
			background: -moz-linear-gradient(left,  rgba(191,154,205,0) 0%, rgba(191,154,205,1) 100%);
			background: -webkit-linear-gradient(left,  rgba(191,154,205,0) 0%,rgba(191,154,205,1) 100%);
			background: linear-gradient(to right,  rgba(191,154,205,0) 0%,rgba(191,154,205,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bf9acd', endColorstr='#bf9acd',GradientType=1 );
		}
		img { 
			display: block;
			margin: auto;
			max-height: 100%;
			min-height: 100%;
			width: auto!important;
			filter: blur(2px);
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
		}
	}
}
.box_testimonial-banner {
	position: relative;
	padding: 20px 0 20px 45px;
	@media @md {
		padding-left: 0;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: -moz-linear-gradient(left,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 );
	}
	#col-bottom & {
		display: table-cell;
		vertical-align: middle;
		width: 50%;
		@media @xs, @xxs {
			display: block;
			width: auto;
			margin: 0 -20px;
			padding: 20px;
		}
	}
	a {
		text-decoration: none;
		color: @c1;
		figure {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 0 -5px 0 0;
			width: 27%;
			@media @md, @xs, @xxs {
				display: block;
				margin: auto;
				width: 20%;
			}
			img {
				.border-radius(50%);
				.box-shadow(0 2px 0 #fff);
				display: block;
			}
		}
		.content {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 73%;
			padding: 0 0 0 30px;
			@media @md, @xs, @xxs {
				display: block;
				padding: 0;
				text-align: center;
				width: auto;
			}
			.title {
				color: @c5;
				font-size: 27px;
				line-height: 1.1;
				margin: 5px 0;
			}
			.subtitle {
				.fp;
				color: @c5;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 1.2;
				margin: 0 0 20px;
				font-weight: normal;
			}
			p {
				margin: 5px 0;
			}
		}
		&:hover{
			.content {
				color: @c2;
				.title, .subtitle {
					color: @c2;
				}
			}
		}
	}
}
.box_menu-banner { 
	position: relative;
	width: 40%;
	padding: 37px 0 17px 0;
	#col-bottom & {
		display: table-cell;
		vertical-align: top;
		@media @sm, @xs, @xxs {
			display: block;
			width: auto;
		}
	}
	@media @lg {
		padding-left: 40px;
	}
	@media (max-width: 640px) {
		text-align: center;
	}
	figure { 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		@media @sm, @xs, @xxs {
			display: none;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50%;
			background: -moz-linear-gradient(left,  rgba(191,154,205,1) 0%, rgba(191,154,205,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(191,154,205,1) 0%,rgba(191,154,205,0) 100%);
			background: linear-gradient(to right,  rgba(191,154,205,1) 0%,rgba(191,154,205,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf9acd', endColorstr='#00bf9acd',GradientType=1 );
		}
		&:after {
			width: 10px;
			left: auto;
			right: 0;
			background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.13) 100%);
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.13) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#21000000',GradientType=1 );
		}
		img { 
			display: block;
			max-height: 100%;
			height: 100%!important;
			max-width: none;
			width: auto!important;
		}
	}
	.title { 
		.fh;
		position: relative;
		z-index: 1;
		text-transform: uppercase;
		color: @c5;
		font-weight: bold;
		font-size: 28px;
		line-height: 1.1;
		letter-spacing: 0.02em;
		margin: 0 0 23px;
	}
	ul { 
		position: relative;
		z-index: 1;
		li { 
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1.2;
			padding: 0 0 0 18px;
			margin: 0 0 5px;
			@media @sm, @xs, @xxs {
				display: inline-block;
				margin: 0 10px 5px 0;
			}
			a { 
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.box_map-slider {
	position: relative;
	padding: 37px 0 17px 60px;
	@media @sm, @xs, @xxs {
		padding-left: 0;
		padding-top: 0;
	}
	@media (max-width: 640px) {
		text-align: center;
	}
	#col-bottom & {
		display: table-cell;
		vertical-align: top;
		width: 60%;
		@media @sm, @xs, @xxs {
			display: block;
			width: auto;
		}
	}
	@media @lg {
		padding-right: 40px;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: -moz-linear-gradient(left,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 );
		@media @sm, @xs, @xxs {
			display: none;
		}
	}
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: 40px;
		width: 160px;
		height: 50px;
		margin: 0 0 0 -20px;
		background: url(../images/bg/03.png) no-repeat;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;
		@media @sm, @xs, @xxs {
			display: none;
		}
	}
	.content { 
		position: relative;
		z-index: 1;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin: 0 -5px 0 0;
		color: @c5;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.5;
		@media (max-width: 640px) {
			width: 240px;
			margin: 0 0 20px;
		}
		.title { 
			.fh;
			position: relative;
			z-index: 1;
			text-transform: uppercase;
			color: @c3;
			font-weight: bold;
			font-size: 28px;
			line-height: 1.1;
			letter-spacing: 0.02em;
			margin: 0 0 15px;
		}
		nav { 
			a { 
				.btn;
				padding: 0 20px;
				background: @c3;
				&:hover{
					background: darken(@c3,10);
				}
			}
		}
	}
	.slider { 
		position: relative;
		z-index: 1;
		display: inline-block;
		width: 50%;
		padding: 0 0 0 20px;
		@media @sm, @xs, @xxs {
			width: 240px;
			margin: auto;
		}
		.items { 
			position: relative;
			.item { 
				display: none;
				text-align: center;
				width: 100%;
				&:nth-child(1) {
					display: block;
				}
				a { 
					color: @c3;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
					figure { 
						margin: 0 0 -5px;
						img { 
							display: block;
							margin: auto;
						}
					}
					.title { 
						.fp;
						font-size: 14px;
						line-height: 1.2;
						font-weight: normal;
						color: @c3;
						margin: 0 70px;
					}
				}
			}
			.prev, .next {
				.border-radius(50%);
				position: absolute;
				z-index: 101;
				bottom: 0;
				left: 5px;
				bottom: 7px;
				width: 34px;
				height: 34px;
				line-height: 32px;
				border: 1px solid @c2;
				color: @c3;
				font-size: 0;
				text-align: center;
				&:hover{
					color: #fff;
					border-color: #fff;
				}
				&:before {
					.fi;
					content: '\e95b';
					font-size: 23px;
				}
			}
			.next {
				left: auto;
				right: 5px;
				&:before {
					content: '\e818';
				}
			}
		}
	}
}
.box_consulting-form { 
	margin: 0 0 60px;
	.col { 
		display: inline-block;
		vertical-align: top;
		width: 50%;
		@media @sm, @xs, @xxs {
			width: 100%;
		}
		&:nth-child(odd) {
			margin-right: -5px;
			padding-right: 60px;
			width: 40%;
			@media @sm, @xs, @xxs {
				width: 100%;
				padding-right: 0;
				margin-right: 0;
			}
		}
		&:nth-child(even) {
			width: 60%;
			@media @sm, @xs, @xxs  {
				width: 100%;
			}
		}
	}
	.form_horizontal { 
		margin: 0 0 40px;
		.form_group { 
			margin: 0 0 14px;
			&>label { 
				display: inline-block;
				vertical-align: top;
				width: 20%;
				margin: 11px -5px 0 0;
				@media @sm, @xs, @xxs {
					width: 100%;
					margin: 0;
				}
			}
			&>.content { 
				display: inline-block;
				vertical-align: top;
				width: 80%;
				@media @sm, @xs, @xxs {
					width: 100%;
				}
			}
		}
	}
	.form_footer { 
		&>label { 
			display: inline-block;
			vertical-align: middle;
			width: 20%;
			margin: 0 -5px 0 0;
			line-height: 1.2;
			@media @sm, @xs, @xxs {
				width: 100%;
				margin: 0;
			}
		}
		&>.checker { 
			display: inline-block;
			vertical-align: middle;
			width: 47%;
			margin: 0 -5px 0 0;
			line-height: 1.2;
			@media @xxs {
				width: 100%;
			}
			label { 
				display: inline;
				color: @c2;
				text-decoration: underline;
				cursor: pointer;
				&:hover{
					text-decoration: none;
				}
			}
		}
		&>.submit { 
			display: inline-block;
			vertical-align: middle;
			text-align: right;
			width: 33%;
			@media @sm, @xs, @xxs {
				text-align: right;
				width: 53%;
			}
			@media @xxs {
				width: 100%;
				margin: 20px 0;
			}
			input { 
				width: 100%;
				padding: 0;
				@media @sm, @xs {
					width: auto;
					padding: 0 20px;
				}
			}
		}
	}
}
.box_consulting-items { 
	position: relative;
	padding: 50px 0 0;
	margin: 0 0 40px;
	border-top: 1px solid #d1dbe8;
	&:before {
		content: '';
		position: absolute;
		top: -1px;
		right: 54px;
		width: 170px;
		height: 50px;
		background: url(../images/bg/10.png) no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
	.header_author { 
		margin: 0 0 45px;
		figure { 
			display: inline-block;
			vertical-align: middle;
			width: 26%;
			margin: 0 -5px 0 0;
			padding: 0 40px 0 0;
			@media @sm {
				width: 30%;
			}
			@media @xs {
				width: 33.3333%;
				padding-right: 20px;
			}
			@media @xxs {
				width: 50%;
			}
			img { 
				.border-radius(50%);
			}
		}
		.content { 
			display: inline-block;
			vertical-align: middle;
			width: 74%;
			@media @sm {
				width: 70%;
			}
			@media @xs {
				width: 66.6666%;
			}
			@media @xxs {
				width: 100%;
			}
			mark {
				color: @c5;
			}
			.title { 
				font-size: 18px;
				margin: 0 0 15px;
				mark { 
					color: @c4;
				}
			}
		}
	}
	.items { 
		.item { 
			margin: 0 0 35px;
			.question, .answer { 
				.clearfix;
				position: relative;
				margin: 0 0 20px;
				padding: 20px 0 0 0;
				.header { 
					position: relative;
					float: left;
					width: 26%;
					padding: 8px 40px 0 80px;
					@media @sm {
						width: 30%;
					}
					@media @xs, @xxs {
						width: 100%;
					}
					&:before {
						.fi;
						.border-radius(50%);
						content: '\e95c';
						position: absolute;
						top: 2px;
						left: 32px;
						width: 40px;
						height: 40px;
						line-height: 40px;
						font-size: 26px;
						text-align: center;
						color: @c5;
						background: fade(@c5,15);
					}
					.title { 
						text-transform: uppercase;
						color: @c5;
						font-weight: bold;
						font-size: 14px;
						line-height: 1.2;
					}
					.date { 
						font-size: 12px;
					}
				}
				.content { 
					float: left;
					width: 74%;
					padding: 0 20px 0 0;
					@media @sm  {
						width: 70%;
					}
					@media @xs, @xxs {
						width: 100%;
						padding: 0 20px 0 80px;
					}
				}
			}
			.question {
				background: #f5f6f7;
				&:before {
					content: '';
					position: absolute;
					top: 100%;
					left: 30px;
					width: 90px;
					height: 27px;
					background: url(../images/bg/11.png) no-repeat;
					-webkit-background-size: 100% 100%;
					background-size: 100% 100%;
				}
			}
			.answer { 
				.header { 
					&:before {
						content: '\f0f0';
						color: @c2;
						background: fade(@c2,15);
					}
					.title { 
						color: @c2;
					}
				}
			}
		}
	}
	.footer { 
		.clearfix;
		margin: 0 0 20px;
		nav { 
			float: left;
			margin: 5px 0;
			@media @xs, @xxs {
				float: none;
				text-align: center;
				margin: 0 0 20px;
			}
			a { 
				.btn;
				padding: 0 50px;
			}
		}
		.pagination { 
			border: 0;
			margin: 0 -10px;
			padding: 0;
			float: right;
			@media @xs, @xxs {
				float: none;
				margin: 0;
			}
		}
	}
}
.box_rating { 
	position: relative;
	margin: 40px 0;
	padding: 18px 0;
	line-height: 1.2;
	border-top: 1px dashed #dcdbda;
	border-bottom: 1px dashed #dcdbda;
	.title { 
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		margin: 0 -5px 0 0;
		padding: 0 0 0 60px;
		font-size: 13px;
		margin: 0;
		&:before {
			.fi;
			.border-radius(50%);
			content: '\e91b';
			position: absolute;
			top: 50%;
			left: 0;
			width: 46px;
			height: 46px;
			line-height: 46px;
			text-align: center;
			font-size: 34px;
			font-weight: normal;
			margin: -23px 0 0 0;
			color: #fff;
			background: @c2;
		}
		mark { 
			.fh;
			display: block;
			text-transform: uppercase;
			color: @c2;
			font-size: 16px;
			margin: 0 0 2px;
			font-weight: bold;
		}
	}
	.stars { 
		display: inline-block;
		vertical-align: middle;
		margin: 0 -5px 0 0;
		width: 20%;
		text-align: right;
		font-size: 28px;
		color: #ffae00;
		[class*="icon-"] { 
			margin: 0 -7px 0 -6px;
			&:before {
				margin: 0;
			}
		}
	}
	.result { 
		display: inline-block;
		margin: 0 -5px 0 0;
		vertical-align: middle;
		width: 30%;
		text-align: right;
		font-size: 13px;
		padding: 0 35px 0 0;
	}
}
.navigation {
	.clearfix;
	margin: 40px 0;
	.prev, .next {
		.transition(0.2s);
		position: relative;
		float: left;
		text-decoration: none;
		color: @c5;
		text-transform: uppercase;
		font-size: 14px;
		padding: 0 0 0 40px;
		&:before {
			.fi;
			.border-radius(50%);
			content: '\e95b';
			position: absolute;
			top: 50%;
			left: 0;
			width: 32px;
			height: 32px;
			line-height: 30px;
			font-size: 27px;
			text-align: center;
			margin: -16px 0 0;
			border: 1px solid @c5;
		}
		&:hover{
			color: @c2;
			&:before {
				border-color: @c2;
			}
		}
	}
	.next {
		float: right;
		padding: 0 40px 0 0;
		&:before {
			content: '\e818';
			left: auto;
			right: 0;
		}
	}
}
.box_consulting-sidebar { 
	margin: 0 0 50px;
	&>.title { 
		.fh;
		text-transform: uppercase;
		color: @c5;
		font-weight: bold;
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 24px;
	}
	.items { 
		@media @sm {
			margin: 0 0 0 -40px;
		}
		.item { 
			margin: 0 0 20px;
			border-bottom: 1px dashed #dcdbda;
			@media @sm {
				display: inline-block;
				vertical-align: top;
				width: 50%;
				margin: 0 -4px 30px 0;
				padding: 0 0 0 40px;
				border-bottom: none;
			}
			&:nth-last-child(1) {
				border-bottom: none;
			}
			a { 
				text-decoration: none;
				color: @c1;
				&:hover{
					text-decoration: underline;
				}
				.question, .answer { 
					font-size: 13px;
					line-height: 1.3;
					.title { 
						display: inline-block;
						float: left;
						font-weight: bold;
						color: @c5;
						font-size: 14px;
						line-height: 1.2;
						text-transform: uppercase;
					}
					.date { 
						float: left;
						clear: both;
						font-size: 12px;
						margin: 0 0 10px;
						text-decoration: none;
						display: inline-block;
					}
				}
				.answer {
					.title {
						color: @c2;
					}
				}
				p {
					clear: both;
				}
			}
		}
	}
	nav { 
		a { 
			.btn;
			display: block;
		}
	}
}
.box_news-sidebar { 
	margin: 0 0 60px;
	.title { 
		.fh;
		font-size: 18px;
		line-height: 1.2;
		font-weight: bold;
		text-transform: uppercase;
		color: @c5;
		margin: 0 -5px 20px 0;
	}
	.items { 
		@media @sm, @xs, @xxs {
			margin: 0 0 0 -20px;
		}
		.item { 
			.clearfix;
			margin: 0 0 10px;
			@media @sm, @xs, @xxs {
				display: inline-block;
				vertical-align: top;
				margin: 0 -4px 30px 0;
				padding: 0 0 0 20px;
				width: 25%;
			}
			@media (max-width: 640px) {
				width: 50%;
			}
			a { 
				figure { 
					display: block;
					float: left;
					width: 30%;
					margin: 3px 0;
					@media @sm, @xs, @xxs {
						float: none;
						width: auto;
					}
					img { 
						display: block;
						.border-radius(4px);
					}
				}
				.content { 
					float: left;
					width: 70%;
					padding: 0 0 0 10px;
					@media @sm, @xs, @xxs {
						padding: 0;
						float: none;
						width: auto;
					}
					h2 { 
						.fp;
						font-size: 14px;
						line-height: 1.4;
						font-weight: normal;
						color: @c5;
						text-decoration: underline;
						text-transform: none;
						margin: 0;
					}
				}
				&:hover{
					h2 {
						text-decoration: none;
					}
				}
			}
		}
	}
}
.box_search { 
	margin: 23px 0 35px;
	.title { 
		text-transform: uppercase;
		color: @c5;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;
		margin: 0 -5px 10px 0;
		width: 22%;
		padding: 0 40px 0 0;
		font-size: 14px;
		line-height: 1.4;
		@media @sm, @xs, @xxs {
			display: block;
			width: auto;
			margin-right: 0;
		}
	}
	form { 
		display: inline;
		&>div { display: inline;
			input[type="text"] { 
				width: 53%;
				margin: 10px -5px 10px 0;
				@media @sm {
					width: 60%;
				}
				@media @xs {
					width: 50%;
				}
				@media @xxs {
					width: 100%;
				}
			}
			input[type="submit"] {
				width: 23%;
				padding: 0;
				margin: 10px 0 10px 2%;
				@media @sm {
					width: 38%;
				}
				@media @xs {
					width: 48%;
				}
				@media @xxs {
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}
.box_map { 
	margin: 0 0 80px;
	.map_canvas { 
		position: relative;
		padding: 0 0 65%;
		&>div { 
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}
.box_map-list { 
	&>.title { 
		.fh;
		color: @c2;
		font-size: 22px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 44px;
	}
	.items { 
		.clearfix;
		margin: 0 0 0 -100px;
		.item { 
			float: left;
			width: 50%;
			padding: 0 0 0 100px;
			margin: 0 0 30px;
			@media @xs, @xxs {
				float: none;
				width: auto;
			}
			.title { 
				.fh;
				color: @c4;
				font-size: 18px;
				line-height: 1.2;
				text-transform: uppercase;
				font-weight: bold;
				margin: 0 0 20px;
			}
			ul { 
				li { 
					padding: 0 0 0 30px;
					margin: 0 0 11px;
					line-height: 1.2;
					&:before {
						.fi;
						content: '\e89c';
						color: @c2;
						font-size: 20px;
						top: -3px;
					}
					a { 
						text-decoration: none;
						color: @c1;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
.box_steps { 
	.content { 
		position: relative;
		padding: 40px 0 0 12%;
		margin: 0 0 40px;
		@media @sm {
			padding-left: 16%;
		}
		@media @xs, @xxs {
			padding-left: 80px;
		}
		@media @xxs {
			padding-left: 0;
			padding-top: 100px;
		} 
		.count { 
			.fh;
			.border-radius(50%);
			position: absolute;
			top: 18px;
			left: 0;
			width: 70px;
			height: 70px;
			line-height: 70px;
			font-size: 40px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			background: @c2;
		}
		.title {
			margin: 0 0 40px;
		}
		.radio {
			label {
				position: relative;
				display: block;
				padding: 0 0 0 36px;
				text-transform: uppercase;
				color: @c5;
				font-size: 14px;
				line-height: 1.2;
				font-weight: bold;
				margin: 0 0 19px;
			}
			.checkbox_wrap {
				position: absolute;
				top: -5px;
				left: 0;
			}
		}
	}
}
.progress { 
	.border-radius(10px);
	position: relative;
	height: 20px;
	background: #ccc;
	background: fade(@c4,30);
	.progress-bar { 
		.border-radius(10px);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background: @c4;
	}
}
.box_progress { 
	margin: 40px 0 80px;
	.title { 
		display: inline-block;
		vertical-align: middle;
		width: 12%;
		font-size: 14px;
		line-height: 1.2;
		font-weight: bold;
		text-transform: uppercase;
		color: @c5;
		@media @sm {
			width: 16%;
		}
		@media @xs, @xxs {
			display: block;
			width: auto;
		}
	}
	.progress { 
		display: inline-block;
		vertical-align: middle;
		width: 88%;
		margin: 0 0 0 -5px;
		@media @sm {
			width: 84%;
		}
		@media @xs, @xxs {
			margin: 5px 0;
			display: block;
			width: auto;
		}
	}
}