html,body,input,select,textarea{
	.fp;
}
body{
	font-size: @fsp;
	line-height: @lhp;
	font-weight: normal;
	color: @c1;
	background: @bb;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	.fh;
	margin: 40px 0 23px;
	line-height: @lhh;
	font-weight: bold;
	text-transform: uppercase;
	color: @c5;
}
h1,.h1{
	font-size: 36px;
	margin: 0 0 17px;
}
h2,.h2{
	font-size: 22px;
	color: @c2;
}
h3.h3{
	font-size: 18px;
	color: @c4;
}
h4,.h4{
	font-size: @fsp*1.3;
}
h5,.h5{
	font-size: @fsp;
	margin-top: 0;
}
h6,.h6{
	font-size: 14px;
	margin-top: 0;
}
p{
	margin: 0 0 20px;
}
ul,ol{
	padding: 0;
	margin: 0 0 20px;
}
ul ul,ul ol,ol ol,ol ul{
	margin-bottom: 0;
	margin-top: 0;
}
ul>li{
	position: relative;
	list-style-type: none;
	padding: 0 0 0 20px;
	margin: 0;
	&:before{
		.fi;
		content: '\e889';
		position: absolute;
		top: 1px;
		left: 0;
		font-size: 14px;
	}
	&>ul{
		padding: 10px 0 10px 20px;
	}
}
ol{
	list-style:decimal;
	&>li{
		margin: 0 0 0 20px;
	}
	&>ol{
		padding: 10px 0;
	}
}
hr{
	margin: 40px 0;
	border: 0;
	border-top: 1px dashed #dcdbda;
}
strong,b{
	font-weight: bold;
}
em,i{
	font-style:italic;
}
sup,sub{
	position: relative;
	vertical-align: baseline;
	font-size: 60%;
	line-height: 1;
}
sup{
	bottom:1.4ex;
}
sub{
	top:.7ex;
}
a{
	color: @c2;
	cursor: pointer;
	&:hover{
		text-decoration:none;
	}
}
mark {
	color: inherit;
}
table {
	width: 100%;
	margin: 40px 0;
	th, td {
		padding: 12px 23px;
		border: 1px solid #bfbfbf;
		border-left-style: dashed;
		border-right-style: dashed;
		text-align: left;
	}
	thead, th {
		font-weight: bold;
	}
	tr {
		th,td {
			&:first-child {
				border-left-style: solid;
			}
			&:last-child {
				border-right-style: solid;
			}
		}
		&:nth-child(even) {
			th,td {
				background: #f5f6f7;
			}
		}
	}
	thead th, thead td {
		background: #bed5f4;
	}
}