
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-arrow-left-outline:before { content: '\e80c'; } /* '' */
.icon-arrow-left-thick:before { content: '\e80d'; } /* '' */
.icon-arrow-loop:before { content: '\e80e'; } /* '' */
.icon-arrow-loop-outline:before { content: '\e80f'; } /* '' */
.icon-arrow-maximise:before { content: '\e810'; } /* '' */
.icon-arrow-maximise-outline:before { content: '\e811'; } /* '' */
.icon-arrow-minimise:before { content: '\e812'; } /* '' */
.icon-arrow-minimise-outline:before { content: '\e813'; } /* '' */
.icon-arrow-move:before { content: '\e814'; } /* '' */
.icon-arrow-move-outline:before { content: '\e815'; } /* '' */
.icon-arrow-repeat:before { content: '\e816'; } /* '' */
.icon-arrow-repeat-outline:before { content: '\e817'; } /* '' */
.icon-arrow-right:before { content: '\e818'; } /* '' */
.icon-arrow-right-outline:before { content: '\e819'; } /* '' */
.icon-arrow-right-thick:before { content: '\e81a'; } /* '' */
.icon-arrow-shuffle:before { content: '\e81b'; } /* '' */
.icon-arrow-sorted-down:before { content: '\e81c'; } /* '' */
.icon-arrow-sorted-up:before { content: '\e81d'; } /* '' */
.icon-arrow-sync:before { content: '\e81e'; } /* '' */
.icon-arrow-sync-outline:before { content: '\e81f'; } /* '' */
.icon-arrow-unsorted:before { content: '\e820'; } /* '' */
.icon-arrow-up:before { content: '\e821'; } /* '' */
.icon-arrow-up-outline:before { content: '\e822'; } /* '' */
.icon-arrow-up-thick:before { content: '\e823'; } /* '' */
.icon-at:before { content: '\e824'; } /* '' */
.icon-attachment:before { content: '\e825'; } /* '' */
.icon-attachment-outline:before { content: '\e826'; } /* '' */
.icon-backspace:before { content: '\e827'; } /* '' */
.icon-backspace-outline:before { content: '\e828'; } /* '' */
.icon-battery-full:before { content: '\e829'; } /* '' */
.icon-battery-high:before { content: '\e82a'; } /* '' */
.icon-battery-charge:before { content: '\e82b'; } /* '' */
.icon-battery-low:before { content: '\e82c'; } /* '' */
.icon-battery-mid:before { content: '\e82d'; } /* '' */
.icon-beaker:before { content: '\e82e'; } /* '' */
.icon-beer:before { content: '\e82f'; } /* '' */
.icon-bell:before { content: '\e830'; } /* '' */
.icon-book:before { content: '\e831'; } /* '' */
.icon-bookmark:before { content: '\e832'; } /* '' */
.icon-briefcase:before { content: '\e833'; } /* '' */
.icon-brush:before { content: '\e834'; } /* '' */
.icon-business-card:before { content: '\e835'; } /* '' */
.icon-calculator:before { content: '\e836'; } /* '' */
.icon-calendar:before { content: '\e837'; } /* '' */
.icon-calendar-outline:before { content: '\e838'; } /* '' */
.icon-camera:before { content: '\e839'; } /* '' */
.icon-camera-outline:before { content: '\e83a'; } /* '' */
.icon-cancel:before { content: '\e83b'; } /* '' */
.icon-cancel-outline:before { content: '\e83c'; } /* '' */
.icon-clipboard:before { content: '\e83d'; } /* '' */
.icon-cloud-storage:before { content: '\e83e'; } /* '' */
.icon-cloud-storage-outline:before { content: '\e83f'; } /* '' */
.icon-code:before { content: '\e840'; } /* '' */
.icon-code-outline:before { content: '\e841'; } /* '' */
.icon-coffee:before { content: '\e842'; } /* '' */
.icon-cog:before { content: '\e843'; } /* '' */
.icon-cog-outline:before { content: '\e844'; } /* '' */
.icon-compass:before { content: '\e845'; } /* '' */
.icon-contacts:before { content: '\e846'; } /* '' */
.icon-credit-card:before { content: '\e847'; } /* '' */
.icon-css3:before { content: '\e848'; } /* '' */
.icon-database:before { content: '\e849'; } /* '' */
.icon-delete:before { content: '\e84a'; } /* '' */
.icon-delete-outline:before { content: '\e84b'; } /* '' */
.icon-device-desktop:before { content: '\e84c'; } /* '' */
.icon-device-laptop:before { content: '\e84d'; } /* '' */
.icon-device-phone:before { content: '\e84e'; } /* '' */
.icon-device-tablet:before { content: '\e84f'; } /* '' */
.icon-directions:before { content: '\e850'; } /* '' */
.icon-divide:before { content: '\e851'; } /* '' */
.icon-divide-outline:before { content: '\e852'; } /* '' */
.icon-document:before { content: '\e853'; } /* '' */
.icon-document-add:before { content: '\e854'; } /* '' */
.icon-document-delete:before { content: '\e855'; } /* '' */
.icon-document-text:before { content: '\e856'; } /* '' */
.icon-download:before { content: '\e857'; } /* '' */
.icon-download-outline:before { content: '\e858'; } /* '' */
.icon-dropbox:before { content: '\e859'; } /* '' */
.icon-edit:before { content: '\e85a'; } /* '' */
.icon-eject:before { content: '\e85b'; } /* '' */
.icon-eject-outline:before { content: '\e85c'; } /* '' */
.icon-equals:before { content: '\e85d'; } /* '' */
.icon-equals-outline:before { content: '\e85e'; } /* '' */
.icon-export:before { content: '\e85f'; } /* '' */
.icon-export-outline:before { content: '\e860'; } /* '' */
.icon-eye:before { content: '\e861'; } /* '' */
.icon-eye-outline:before { content: '\e862'; } /* '' */
.icon-feather:before { content: '\e863'; } /* '' */
.icon-film:before { content: '\e864'; } /* '' */
.icon-filter:before { content: '\e865'; } /* '' */
.icon-flag:before { content: '\e866'; } /* '' */
.icon-flag-outline:before { content: '\e867'; } /* '' */
.icon-flash:before { content: '\e868'; } /* '' */
.icon-flash-outline:before { content: '\e869'; } /* '' */
.icon-flow-children:before { content: '\e86a'; } /* '' */
.icon-flow-merge:before { content: '\e86b'; } /* '' */
.icon-flow-parallel:before { content: '\e86c'; } /* '' */
.icon-flow-switch:before { content: '\e86d'; } /* '' */
.icon-folder:before { content: '\e86e'; } /* '' */
.icon-folder-add:before { content: '\e86f'; } /* '' */
.icon-folder-delete:before { content: '\e870'; } /* '' */
.icon-folder-open:before { content: '\e871'; } /* '' */
.icon-gift:before { content: '\e872'; } /* '' */
.icon-globe:before { content: '\e873'; } /* '' */
.icon-globe-outline:before { content: '\e874'; } /* '' */
.icon-group:before { content: '\e875'; } /* '' */
.icon-group-outline:before { content: '\e876'; } /* '' */
.icon-headphones:before { content: '\e877'; } /* '' */
.icon-heart:before { content: '\e878'; } /* '' */
.icon-heart-full-outline:before { content: '\e879'; } /* '' */
.icon-heart-half-outline:before { content: '\e87a'; } /* '' */
.icon-heart-outline:before { content: '\e87b'; } /* '' */
.icon-home:before { content: '\e87c'; } /* '' */
.icon-home-outline:before { content: '\e87d'; } /* '' */
.icon-html5:before { content: '\e87e'; } /* '' */
.icon-chart-area:before { content: '\e87f'; } /* '' */
.icon-chart-area-outline:before { content: '\e880'; } /* '' */
.icon-chart-bar:before { content: '\e881'; } /* '' */
.icon-chart-bar-outline:before { content: '\e882'; } /* '' */
.icon-chart-line:before { content: '\e883'; } /* '' */
.icon-chart-line-outline:before { content: '\e884'; } /* '' */
.icon-chart-pie:before { content: '\e885'; } /* '' */
.icon-chart-pie-outline:before { content: '\e886'; } /* '' */
.icon-chevron-left:before { content: '\e887'; } /* '' */
.icon-chevron-left-outline:before { content: '\e888'; } /* '' */
.icon-chevron-right:before { content: '\e889'; } /* '' */
.icon-chevron-right-outline:before { content: '\e88a'; } /* '' */
.icon-image:before { content: '\e88b'; } /* '' */
.icon-image-outline:before { content: '\e88c'; } /* '' */
.icon-infinity:before { content: '\e88d'; } /* '' */
.icon-infinity-outline:before { content: '\e88e'; } /* '' */
.icon-info:before { content: '\e88f'; } /* '' */
.icon-info-large:before { content: '\e890'; } /* '' */
.icon-info-large-outline:before { content: '\e891'; } /* '' */
.icon-info-outline:before { content: '\e892'; } /* '' */
.icon-input-checked:before { content: '\e893'; } /* '' */
.icon-input-checked-outline:before { content: '\e894'; } /* '' */
.icon-key:before { content: '\e895'; } /* '' */
.icon-keyboard:before { content: '\e896'; } /* '' */
.icon-key-outline:before { content: '\e897'; } /* '' */
.icon-leaf:before { content: '\e898'; } /* '' */
.icon-lightbulb:before { content: '\e899'; } /* '' */
.icon-link:before { content: '\e89a'; } /* '' */
.icon-link-outline:before { content: '\e89b'; } /* '' */
.icon-location:before { content: '\e89c'; } /* '' */
.icon-location-arrow:before { content: '\e89d'; } /* '' */
.icon-location-arrow-outline:before { content: '\e89e'; } /* '' */
.icon-location-outline:before { content: '\e89f'; } /* '' */
.icon-lock-closed:before { content: '\e8a0'; } /* '' */
.icon-lock-closed-outline:before { content: '\e8a1'; } /* '' */
.icon-lock-open:before { content: '\e8a2'; } /* '' */
.icon-lock-open-outline:before { content: '\e8a3'; } /* '' */
.icon-mail:before { content: '\e8a4'; } /* '' */
.icon-map:before { content: '\e8a5'; } /* '' */
.icon-media-eject:before { content: '\e8a6'; } /* '' */
.icon-media-eject-outline:before { content: '\e8a7'; } /* '' */
.icon-media-fast-forward:before { content: '\e8a8'; } /* '' */
.icon-media-fast-forward-outline:before { content: '\e8a9'; } /* '' */
.icon-media-pause:before { content: '\e8aa'; } /* '' */
.icon-media-pause-outline:before { content: '\e8ab'; } /* '' */
.icon-media-play:before { content: '\e8ac'; } /* '' */
.icon-media-play-outline:before { content: '\e8ad'; } /* '' */
.icon-media-play-reverse:before { content: '\e8ae'; } /* '' */
.icon-media-play-reverse-outline:before { content: '\e8af'; } /* '' */
.icon-media-record:before { content: '\e8b0'; } /* '' */
.icon-media-record-outline:before { content: '\e8b1'; } /* '' */
.icon-media-rewind:before { content: '\e8b2'; } /* '' */
.icon-media-rewind-outline:before { content: '\e8b3'; } /* '' */
.icon-media-stop:before { content: '\e8b4'; } /* '' */
.icon-media-stop-outline:before { content: '\e8b5'; } /* '' */
.icon-message:before { content: '\e8b6'; } /* '' */
.icon-messages:before { content: '\e8b7'; } /* '' */
.icon-message-typing:before { content: '\e8b8'; } /* '' */
.icon-microphone:before { content: '\e8b9'; } /* '' */
.icon-microphone-outline:before { content: '\e8ba'; } /* '' */
.icon-minus:before { content: '\e8bb'; } /* '' */
.icon-minus-outline:before { content: '\e8bc'; } /* '' */
.icon-mortar-board:before { content: '\e8bd'; } /* '' */
.icon-news:before { content: '\e8be'; } /* '' */
.icon-notes:before { content: '\e8bf'; } /* '' */
.icon-notes-outline:before { content: '\e8c0'; } /* '' */
.icon-pen:before { content: '\e8c1'; } /* '' */
.icon-pencil:before { content: '\e8c2'; } /* '' */
.icon-phone:before { content: '\e8c3'; } /* '' */
.icon-phone-outline:before { content: '\e8c4'; } /* '' */
.icon-pi:before { content: '\e8c5'; } /* '' */
.icon-pin:before { content: '\e8c6'; } /* '' */
.icon-pin-outline:before { content: '\e8c7'; } /* '' */
.icon-pi-outline:before { content: '\e8c8'; } /* '' */
.icon-pipette:before { content: '\e8c9'; } /* '' */
.icon-plane:before { content: '\e8ca'; } /* '' */
.icon-plane-outline:before { content: '\e8cb'; } /* '' */
.icon-plug:before { content: '\e8cc'; } /* '' */
.icon-plus:before { content: '\e8cd'; } /* '' */
.icon-plus-outline:before { content: '\e8ce'; } /* '' */
.icon-point-of-interest:before { content: '\e8cf'; } /* '' */
.icon-point-of-interest-outline:before { content: '\e8d0'; } /* '' */
.icon-power:before { content: '\e8d1'; } /* '' */
.icon-power-outline:before { content: '\e8d2'; } /* '' */
.icon-printer:before { content: '\e8d3'; } /* '' */
.icon-puzzle:before { content: '\e8d4'; } /* '' */
.icon-puzzle-outline:before { content: '\e8d5'; } /* '' */
.icon-radar:before { content: '\e8d6'; } /* '' */
.icon-radar-outline:before { content: '\e8d7'; } /* '' */
.icon-refresh:before { content: '\e8d8'; } /* '' */
.icon-refresh-outline:before { content: '\e8d9'; } /* '' */
.icon-rss:before { content: '\e8da'; } /* '' */
.icon-rss-outline:before { content: '\e8db'; } /* '' */
.icon-scissors:before { content: '\e8dc'; } /* '' */
.icon-scissors-outline:before { content: '\e8dd'; } /* '' */
.icon-shopping-bag:before { content: '\e8de'; } /* '' */
.icon-shopping-cart:before { content: '\e8df'; } /* '' */
.icon-social-at-circular:before { content: '\e8e0'; } /* '' */
.icon-social-dribbble:before { content: '\e8e1'; } /* '' */
.icon-social-dribbble-circular:before { content: '\e8e2'; } /* '' */
.icon-social-facebook:before { content: '\e8e3'; } /* '' */
.icon-social-facebook-circular:before { content: '\e8e4'; } /* '' */
.icon-social-flickr:before { content: '\e8e5'; } /* '' */
.icon-social-flickr-circular:before { content: '\e8e6'; } /* '' */
.icon-social-github:before { content: '\e8e7'; } /* '' */
.icon-social-github-circular:before { content: '\e8e8'; } /* '' */
.icon-social-google-plus:before { content: '\e8e9'; } /* '' */
.icon-social-google-plus-circular:before { content: '\e8ea'; } /* '' */
.icon-social-instagram:before { content: '\e8eb'; } /* '' */
.icon-social-instagram-circular:before { content: '\e8ec'; } /* '' */
.icon-social-last-fm:before { content: '\e8ed'; } /* '' */
.icon-social-last-fm-circular:before { content: '\e8ee'; } /* '' */
.icon-social-linkedin:before { content: '\e8ef'; } /* '' */
.icon-social-linkedin-circular:before { content: '\e8f0'; } /* '' */
.icon-social-pinterest:before { content: '\e8f1'; } /* '' */
.icon-social-pinterest-circular:before { content: '\e8f2'; } /* '' */
.icon-social-skype:before { content: '\e8f3'; } /* '' */
.icon-social-skype-outline:before { content: '\e8f4'; } /* '' */
.icon-social-tumbler:before { content: '\e8f5'; } /* '' */
.icon-social-tumbler-circular:before { content: '\e8f6'; } /* '' */
.icon-social-twitter:before { content: '\e8f7'; } /* '' */
.icon-social-twitter-circular:before { content: '\e8f8'; } /* '' */
.icon-social-vimeo:before { content: '\e8f9'; } /* '' */
.icon-social-vimeo-circular:before { content: '\e8fa'; } /* '' */
.icon-social-youtube:before { content: '\e8fb'; } /* '' */
.icon-social-youtube-circular:before { content: '\e8fc'; } /* '' */
.icon-sort-alphabetically:before { content: '\e8fd'; } /* '' */
.icon-sort-alphabetically-outline:before { content: '\e8fe'; } /* '' */
.icon-sort-numerically:before { content: '\e8ff'; } /* '' */
.icon-sort-numerically-outline:before { content: '\e900'; } /* '' */
.icon-spanner:before { content: '\e901'; } /* '' */
.icon-spanner-outline:before { content: '\e902'; } /* '' */
.icon-spiral:before { content: '\e903'; } /* '' */
.icon-star:before { content: '\e904'; } /* '' */
.icon-starburst:before { content: '\e905'; } /* '' */
.icon-starburst-outline:before { content: '\e906'; } /* '' */
.icon-star-full-outline:before { content: '\e907'; } /* '' */
.icon-star-half:before { content: '\e908'; } /* '' */
.icon-star-half-outline:before { content: '\e909'; } /* '' */
.icon-star-outline:before { content: '\e90a'; } /* '' */
.icon-stopwatch:before { content: '\e90b'; } /* '' */
.icon-support:before { content: '\e90c'; } /* '' */
.icon-tabs-outline:before { content: '\e90d'; } /* '' */
.icon-tag:before { content: '\e90e'; } /* '' */
.icon-tags:before { content: '\e90f'; } /* '' */
.icon-thermometer:before { content: '\e910'; } /* '' */
.icon-th-large:before { content: '\e911'; } /* '' */
.icon-th-large-outline:before { content: '\e912'; } /* '' */
.icon-th-list:before { content: '\e913'; } /* '' */
.icon-th-list-outline:before { content: '\e914'; } /* '' */
.icon-th-menu:before { content: '\e915'; } /* '' */
.icon-th-menu-outline:before { content: '\e916'; } /* '' */
.icon-th-small:before { content: '\e917'; } /* '' */
.icon-th-small-outline:before { content: '\e918'; } /* '' */
.icon-thumbs-down:before { content: '\e919'; } /* '' */
.icon-thumbs-ok:before { content: '\e91a'; } /* '' */
.icon-thumbs-up:before { content: '\e91b'; } /* '' */
.icon-tick:before { content: '\e91c'; } /* '' */
.icon-ticket:before { content: '\e91d'; } /* '' */
.icon-tick-outline:before { content: '\e91e'; } /* '' */
.icon-time:before { content: '\e91f'; } /* '' */
.icon-times:before { content: '\e920'; } /* '' */
.icon-times-outline:before { content: '\e921'; } /* '' */
.icon-trash:before { content: '\e922'; } /* '' */
.icon-tree:before { content: '\e923'; } /* '' */
.icon-upload:before { content: '\e924'; } /* '' */
.icon-upload-outline:before { content: '\e925'; } /* '' */
.icon-user:before { content: '\e926'; } /* '' */
.icon-user-add:before { content: '\e927'; } /* '' */
.icon-user-add-outline:before { content: '\e928'; } /* '' */
.icon-user-delete:before { content: '\e929'; } /* '' */
.icon-user-delete-outline:before { content: '\e92a'; } /* '' */
.icon-user-outline:before { content: '\e92b'; } /* '' */
.icon-vendor-android:before { content: '\e92c'; } /* '' */
.icon-vendor-apple:before { content: '\e92d'; } /* '' */
.icon-vendor-microsoft:before { content: '\e92e'; } /* '' */
.icon-video:before { content: '\e92f'; } /* '' */
.icon-video-outline:before { content: '\e930'; } /* '' */
.icon-volume:before { content: '\e931'; } /* '' */
.icon-volume-down:before { content: '\e932'; } /* '' */
.icon-volume-mute:before { content: '\e933'; } /* '' */
.icon-volume-up:before { content: '\e934'; } /* '' */
.icon-warning:before { content: '\e935'; } /* '' */
.icon-warning-outline:before { content: '\e936'; } /* '' */
.icon-watch:before { content: '\e937'; } /* '' */
.icon-waves:before { content: '\e938'; } /* '' */
.icon-waves-outline:before { content: '\e939'; } /* '' */
.icon-weather-cloudy:before { content: '\e93a'; } /* '' */
.icon-weather-downpour:before { content: '\e93b'; } /* '' */
.icon-weather-night:before { content: '\e93c'; } /* '' */
.icon-weather-partly-sunny:before { content: '\e93d'; } /* '' */
.icon-weather-shower:before { content: '\e93e'; } /* '' */
.icon-weather-snow:before { content: '\e93f'; } /* '' */
.icon-weather-stormy:before { content: '\e940'; } /* '' */
.icon-weather-sunny:before { content: '\e941'; } /* '' */
.icon-weather-windy:before { content: '\e942'; } /* '' */
.icon-weather-windy-cloudy:before { content: '\e943'; } /* '' */
.icon-wi-fi:before { content: '\e944'; } /* '' */
.icon-wi-fi-outline:before { content: '\e945'; } /* '' */
.icon-wine:before { content: '\e946'; } /* '' */
.icon-world:before { content: '\e947'; } /* '' */
.icon-world-outline:before { content: '\e948'; } /* '' */
.icon-zoom:before { content: '\e949'; } /* '' */
.icon-zoom-in:before { content: '\e94a'; } /* '' */
.icon-zoom-in-outline:before { content: '\e94b'; } /* '' */
.icon-zoom-out:before { content: '\e94c'; } /* '' */
.icon-zoom-outline:before { content: '\e94d'; } /* '' */
.icon-zoom-out-outline:before { content: '\e94e'; } /* '' */
.icon-adjust-brightness:before { content: '\e94f'; } /* '' */
.icon-adjust-contrast:before { content: '\e950'; } /* '' */
.icon-anchor:before { content: '\e951'; } /* '' */
.icon-anchor-outline:before { content: '\e952'; } /* '' */
.icon-archive:before { content: '\e953'; } /* '' */
.icon-arrow-back:before { content: '\e954'; } /* '' */
.icon-arrow-back-outline:before { content: '\e955'; } /* '' */
.icon-arrow-down:before { content: '\e956'; } /* '' */
.icon-arrow-down-outline:before { content: '\e957'; } /* '' */
.icon-arrow-down-thick:before { content: '\e958'; } /* '' */
.icon-arrow-forward:before { content: '\e959'; } /* '' */
.icon-arrow-forward-outline:before { content: '\e95a'; } /* '' */
.icon-arrow-left:before { content: '\e95b'; } /* '' */
.icon-user-1:before { content: '\e95c'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */